apiVersion: v1
kind: BuildConfig
metadata:
  name: pull-request-service
spec:
  failedBuildsHistoryLimit: 3
  output:
    to:
      kind: ImageStreamTag
      name: "pull-request-service:latest"
  source:
    git:
      uri: "git@github.com:vitalbeats/pull-request-service.git"
      ref: master
    sourceSecret:
      name: pull-request-build
    type: "Git"
  strategy:
    dockerStrategy:
      forcePull: true
    type: "Docker"
  successfulBuildsHistoryLimit: 3
  triggers:
  - type: ConfigChange
