apiVersion: v1
kind: ClusterRoleBinding
metadata:
  name: project-deleter-pull-request
roleRef:
  kind: ClusterRole
  name: project-deleter
subjects:
- name: jenkins
  kind: ServiceAccount
  namespace: "{{ namespace }}"
