apiVersion: v1
kind: DeploymentConfig
metadata:
  name: pull-request-service
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    name: pull-request-service
  strategy:
    type: Rolling
  template:
    metadata:
      labels:
        name: pull-request-service
    spec:
      serviceAccountName: jenkins
      volumes:
      - name: pull-request-secret
        secret:
          secretName: pull-request-secret
      containers:
      - name: pull-request-service
        image: openshift/pull-request-service
        ports:
        - containerPort: 8080
          protocol: TCP
          name: web
        volumeMounts:
        - name: pull-request-secret
          mountPath: /app/config/secret
          readOnly: true
        resources:
          limits:
            cpu: {{ limits_cpu }}
            memory: {{ limits_memory }}
          requests:
            cpu: {{ requests_cpu }}
            memory: {{ requests_memory }}
      nodeSelector: {{ node_selector }}
  triggers:
  - type: ConfigChange
  - type: ImageChange
    imageChangeParams:
      automatic: true
      containerNames:
      - pull-request-service
      from:
        kind: ImageStreamTag
        name: "pull-request-service:latest"
