apiVersion: v1
kind: Route
metadata:
  name: pull-request-service
  annotations:
    kubernetes.io/tls-acme: 'true'
spec:
  host: {{ host }}
  port:
    targetPort: web
  to:
    kind: Service
    name: pull-request-service
  tls:
    termination: Edge
    insecureEdgeTerminationPolicy: Redirect
